notes.md
dataset
week1/data/

week4/data/
week4/images/
week4/*.md

week5/data/
week5/output/
week5/images/
week5/*.md
week5/*.drawio

week6/data/
week6/images/
week6/*.md

week7/data/
week7/images/
week7/*.md

